<a href="https://colab.research.google.com/github/Mechprasad48/Astrologer-s-Stars/blob/main/Copy_of_car_price_prediction_without_importing_library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Start with importing necessary library

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Data wrangling

In [ ]:
df = pd.read_csv('car data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [ ]:
df.describe()

In [ ]:
x = (df[['Present_Price','Kms_Driven','Owner','Year']])

In [ ]:
y = df.Selling_Price

In [ ]:
plt.scatter(x,y)

In [ ]:
x_mean = x.mean()
x_mean

In [ ]:
df['Diffx'] = x_mean - x
df

In [ ]:
df['Diffxsquare'] = df.Diffx ** 2 
df

In [ ]:
SSxx = df.Diffxsquare.sum()

In [ ]:
y_mean = y.mean()
y_mean

In [ ]:
df['diffy'] = y_mean - y
df

In [ ]:
df['Diffysquare'] = df.diffy ** 2 
df

In [ ]:
SSxy = df.Diffysquare.sum()

In [ ]:
m = SSxy / SSxx
m

In [ ]:
b = y_mean - m * x_mean
b

In [ ]:
def predict(value):
  predict = m*value+b
  return predict

In [ ]:
predict(3)

3.060984191888018